
<style>



 <div class="container">
  <div class="row">
    <div class="col">
      Column
    </div>
    <div class="col 2">
      Column
    </div>
    <div class="col 3">
      Column

    </div>
  </div>
  <div class="container">
  <div class="row row-cols-2">
    <div class="col">Hi</div>
    <div class="col">Yo</div>
    <div class="col">Hey</div>
  </div>
</div>
</div>

<<<<<<< HEAD
.forcard {
 padding-bottom: 25px;
    
=======

>>>>>>> 6ad9c8e5a7afa102cba29dc05dde90ebecab02e6
}

animate__backInDown animate__backInDown{
    animation-duration: 1s
}

.container-fluid {
 text-align: justify;

}